.task-input {
  margin-top: 80px;
  border-radius: 4px;
  font-size: 24px;
  width: 500px;
  padding: 6px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 16px;
  outline: none;
  background: rgba(255, 255,255);
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.5);
}

.task-input::placeholder {
  font-size: 24px;
  font-weight: normal;
  color: rgba(0,0,0,0.2);
}