.task-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 16px;
  background: rgba(255, 255,255);
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  height: 62px;
}

.task-description {
  font-size: 24px;
  color: rgba(0,0,0,0.5);
  flex: 1;
}

.task-done {
  text-decoration: line-through;
}

.checkbox {
  margin-right: 16px;
  height: 24px;
  width: 24px;
}

.remove-btn {
  font-size: 24px;
  color: rgba(255, 0, 0, 0.5);
  outline: none;
  background: none;
  border: none;
}

.remove-btn:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 1);
}