.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

.title {
  font-size: 36px;
  font-weight: 100;
}

.logo {
  height: 40px;
  margin-right: 16px;
}